[submodule "leaonline-content"]
	path = leaonline-content
	url = git@github.com:leaonline/leaonline-content.git
	branch = master
[submodule "leaonline-accounts"]
	path = leaonline-accounts
	url = git@github.com:leaonline/leaonline-accounts.git
	branch = master
[submodule "leaonline-otulea"]
	path = leaonline-otulea
	url = git@github.com:leaonline/leaonline-otulea.git
	branch = master
[submodule "leaonline-teacher"]
	path = leaonline-teacher
	url = git@github.com:leaonline/leaonline-teacher.git
	branch = master
[submodule "leaonline-sessions"]
	path = leaonline-sessions
	url = git@github.com:leaonline/leaonline-sessions.git
	branch = master
[submodule "leaonline-backend"]
	path = leaonline-backend
	url = git@github.com:leaonline/leaonline-backend.git
	branch = master
[submodule "lib/factories"]
	path = lib/factories
	url = git@github.com:leaonline/factories.git
	branch = master
[submodule "lib/utils"]
	path = lib/utils
	url = git@github.com:leaonline/utils.git
	branch = master
[submodule "lib/interfaces"]
	path = lib/interfaces
	url = git@github.com:leaonline/interfaces.git
	branch = master
